*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
 }


body{
    background-color: black;
    color: white;
    font-family: kamerik-3d;
}

/* Меню начало */
 .header-top{
    background-color:transparent;
    color: white;
    align-items: center;

}

/* здесь логотип меняем расположение  */
.menu-body{
    display: flex;
    width: auto;
    margin: 0;
    position: absolute;
    z-index: 1;

}

/* меню хоум-контакт  */
 .menu-list{
    background-color: transparent; 
    list-style-type: none;
    display: flex;
    gap: 20px; 
    padding-top: 26px;
    padding-left: calc(50% - calc((var(--index) * -54) / 2 ));
    
 }

 /* Сами слова хоум-контакт */
.menu-link{
    font-family: kamerik-3d;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.menu-body li a:hover{
    font-family: merriweather-italic-3d;
}
/* МЕНЮ КОНЕЦ */

 /* Изображения */

.logo{
    transform: translateZ(60px) scale(.8);
    width: calc( var(--index) * 8);
    height: calc( var(--index) * 8);
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - calc((var(--index) * 10) / 2 ));
    top: calc( var(--index) * 2);
    z-index: 1;
}

.layers{
    perspective: 1000px;
    overflow: hidden;
}

.layers__container{
    height: 100vh; 
    min-height: 380px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition) ;
   
}   

.layers__item{
    position: absolute;
    inset: -3vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.layer-1{
    transform: translateZ(-55px) scale(1.06);
}

.layer-2{
    transform: translateZ(100px) scale(.9);
}

.layer-2-1{
    transform: translateZ(160px) scale(.88);
}

.layer-3{
    transform: translateZ(180px) scale(.8);
}

.layer-4{
    transform: translateZ(190px) scale(.9);
}

.layer-5{
    transform: translateZ(300px) scale(.9);
}

.layer-6{
    transform: translateZ(380px);
}


.hero-content{
    font-size: calc(var(--index) * 2.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * .15);
}

.hero-content h1{
    text-shadow: rgb(0, 0, 0) 5px 6px 20px;
}

.hero-content_p{
    text-transform: none;
    font-family: merriweather-italic-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * 1.2);
    line-height: 1;
}

.button-start{
    font-family: kamerik-3d;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .7);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: white;
    border-radius: 10em;
    border: rgb(255, 255, 255 / .4) 3px solid;
    outline:auto;
    cursor: pointer;
    overflow: hidden;
}

.button-start a{
    text-decoration: none;
    color: white;
}

.button-start a:hover{
    font-family: Arial;
}

/* можно теперь нажимать на все */
.layer-4, .layer-5, .layer-6{
    pointer-events: none;
}
