*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* Подключаем шрифты */
 @font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
    font-weight: 900;
}

#page-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1 !important;
  }