* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 12;
	--side-big: 16;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}


body{
    background-image: url(../photo/animation.jpg);
    width: 100%;
    height: 100%;
    color: white;
}

/* МЕНЮ НАЧАЛО */
.header-top{
    background-color:transparent;
    color: white;
    align-items: center;

}

/* здесь логотип меняем расположение  */
.menu-body{
    display: flex;
    width: auto;
    margin: 0;
    position: absolute;

}

/* меню хоум-контакт  */
 .menu-list{
    background-color: transparent; 
    list-style-type: none;
    display: flex; 
    gap: 1vw; 
    padding-top: 1.73vw;
    padding-left: calc((var(--index) * 12) / 2 );
 }

 /* Сами слова хоум-контакт */
.menu-link{
    font-family: kamerik-3d;
    font-size: calc(var(--index) * 1.2);
    text-decoration: none;
    color: white;
}

.menu-body li a:hover{
    font-family: merriweather-italic-3d;
}

/* МЕНЮ КОНЕЦ */


/* Начало каталога */

.section__title{
    margin-left: 45%;
    padding-top: 8%;
    font-weight: 100;
	text-transform: uppercase;
    font-family: kamerik-3d;
  }

.catalog__nav{
    display: flex;
    justify-content: center;
    padding-bottom: 1.3vw;
    list-style: none;
}

.catalog-nav__btn{
    text-decoration: none;
    padding: 15px;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.5vw;
    overflow: hidden;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 32.6vw;
    font-family: Arial;
    font-weight: 900;
    color: white;
} 

.catalog-nav__btn:hover{
    color: rgba(0, 0, 0, 0.6);   
}

/* Конец каталога */

/* Начало товаров */
/* Для переключения мжд кноками */
.content{
    display: none;
}

.content:target{
    display: inline-block;
}
/* конец переключения */

.tovar__item{
    display: inline-block;
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.2);
    width: calc(100% / 5);
	margin-left: 8vh;
    flex-wrap: wrap;
}

/* картинка */
.product__img{
    display: block;
    padding: 1vh;
    width: 16.7vw;
	height: 20vw;
	background-position: center;
	background-size: cover;
}

/* весь контейнер товара */
.product{
    padding: 1.3vw;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.product__content{
    margin-bottom: 1.6vw;
    flex-grow: 1;
}

.product__title{
    font-family: kamerik-3d;
    font-weight: 800;
    text-align: center;
}

/* описание товара */
.product__discr{
    font-family: merriweather-italic-3d;
    font-weight: 400;
    text-align: left;
    padding-left: 2vh;
}

/* кнопки упаковки */
.product__sizes{
    display: flex;
    margin-top: 0.6vw;
    margin-bottom: 1.3vw;
    border-radius: 1.4vw;
    overflow: hidden;
    justify-content:space-around;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.6);

}

.product__size{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: kamerik-3d;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 1vh;
}

.product__size:hover{
    color: rgba(0, 0, 0, 0.6);
}

.product__price{
    font-family: kamerik-3d;
    font-weight: 900;

}
/* низ товара */
.product__bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.6vw;
}

/* кнопка заказать */
.product__btn{
    font-family: kamerik-3d;
    box-shadow: none;
    background-color: transparent;
    color: white;
    border-radius: 10em;
    border: rgba(255, 255, 255, 0.7) 3px solid;
    padding: 0.3vw;
}

.product__btn a{
    color: #ffffff;
    text-decoration: none;
}

.product__btn a:hover{
    color: rgba(0, 0, 0, 0.6);
}

@media(max-width: 993px) and (min-width: 1200px)
{
    .product__size{
        font-size: smaller;
        font-weight: 100;
    }
    .product__price{
        font-size: smaller;
    }
}
  
